h1{
    font-size: 32px;
    color: var(--pink2);
    text-align: left;
    margin-bottom: 15px;
}

p{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin-bottom: 10px;
    line-height: 19.5px;
    max-width: 272px;
}

input, textarea{
    border: 1px solid var(--white);
    border-radius: 4px;
    max-width: 437px;
    width: 100%;
    margin-bottom: 40px;
    height: 47px;
    background: transparent;
    color: var(--white);
    padding: 0 1px;
}

input:hover, input:focus, input:active, textarea:hover, textarea:focus, textarea:active{
    border: 1px solid transparent;
    border-image: var(--btn-gradient2);
    border-image-slice: 1;
    border-radius: 4px;
}

textarea{
    height: 119px;
}

.contact_section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    min-height: 100vh;
    padding: 200px 131px 100px;
}

.contact_section .container{
    width: 40%;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.contact_section .container .width{
    max-width: 119px;
}

.contact_section .container span{
    color: var(--pink2);
    margin-bottom: 10px;
}

.contact_section .container ul{
    display: flex;
    gap: 20px;
}

.contact_section .container_2{
    display: flex;
    flex-direction: column;
    max-width: 617px;
    width: 60%;
    padding: 50px 60px;
    border-radius: 12px;
    background: var(--bg-gradient);
} 

.contact_section .container_2 h2{
    max-width: 301px;
    font-size: 20px;
    color: var(--pink2);
    text-align: left;
    font-weight: 700;
    margin-bottom: 30px;
}

.contact_section .container_2 .btn{
    margin: auto;
}

@media (max-width: 876px) {
    h1{
        font-size: 32px;
        color: var(--pink2);
        text-align: left;
        margin-bottom: 15px;
    }
    
    p{
        font-size: 12px;
        max-width: 239px;
    }
    
    input, textarea{
        max-width: 298px;
        margin-bottom: 40px;
        padding: 0 1px;
    }
    
    .contact_section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 85px 0 50px;
    }
    
    .contact_section .container{
        display: none;
    }
    
    .contact_section .container_2{
        display: flex;
        flex-direction: column;
        max-width: 295px;
        width: 100%;
        padding: 50px 0;
        border-radius: 12px;
        background: transparent;
    } 
    
    .contact_section .container_2 .btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}