h1{
    font-size: 32px;
    color: var(--pink2);
    text-align: left;
    margin-bottom: 30px;
}

h2{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-weight: 400;
    margin-bottom: 30px;
}

p{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin-bottom: 10px;
}

label{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    color: var(--white);
    margin-bottom: 10px;
}

.container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

input, select{
    border: 1px solid var(--white);
    border-radius: 4px;
    width: 100%;
    height: 47px;
    background: transparent;
    color: var(--white);
    padding: 0 20px;
}

input:hover, input:focus, input:active, select:hover, select:focus, select:active{
    border: 1px solid transparent;
    border-image: var(--btn-gradient2);
    border-image-slice: 1;
    border-radius: 4px;
}

select{
    border: 1px solid var(--white);
    border-radius: 4px;
    width: 210px;
    height: 47px;
    background: transparent;
    color: var(--white);
    padding: 0 20px;
}

option{
    color: var(--bg-dark);
}

.register_section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
    padding: 200px 131px 100px;
}

.register_section .my_form{
    max-width: 740px;
    width: 60%;
    padding: 50px 60px;
    border-radius: 12px;
    background: var(--bg-gradient);
} 

.register_section .my_form .btn{
    width: 100%;
}

.register_section .my_form span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.register_section .my_form span input{
    width: 15px;
    margin: 0 0 8px;
}

.register_section .my_form span p{
    font-size: 12px;
}

.register_section .my_form .review{
    color: var(--pink);
    font-size: 12px;
    margin: 10px 0;
}

.register_section .container div{
    display: flex;
    flex-direction: column;
}

.register_section img{
    max-width: 712px;
    width: 40%;
}

@media (max-width: 1076px) {
    h1{
        font-size: 15px;
        margin-bottom: 170px;
    }
    
    h2{
        font-size: 20px;
    }
    
    p{
        font-size: 12px;
    }
    
    label{
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        color: var(--white);
        margin-bottom: 10px;
    }
    
    .container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-wrap: nowrap;
    }

    input, select{
        border-radius: 4px;
        max-width: 463px;
        width: 100%;
        height: 47px;
        outline: none;
        background: transparent;
        color: var(--white);
        padding: 0 20px;
    }
    
    option{
        color: var(--bg-dark);
    }
    
    .register_section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        min-height: 100vh;
        padding: 100px 0 50px;
    }
    
    .register_section .my_form{
        width: 100%;
        padding: 50px 20px;
        border-radius: 12px;
        background: var(--bg-dark);
    } 
    
    .register_section .my_form .btn{
        width: 100%;
    }
    
    .register_section .my_form span{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        gap: 10px;
    }
    
    .register_section .my_form span p{
        font-size: 12px;
        width: 90%;
    }
    
    .register_section .my_form span input{
        width: 10%;
        width: 20px;
        margin-bottom: 10px;
    }
    
    .register_section .my_form .review{
        color: var(--pink);
        font-size: 12px;
        margin: 10px 0;
    }
    
    .register_section .container div{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    
    .register_section img{
        position: absolute;
        max-width: 195px;
        width: 100%;
        height: 155px;
        margin-top: -790px;
    }
}